*{
    margin: 0;
    padding: 0;
    color:white;
}

@font-face{ font-family: nunito-sansBI; src: url('fonts/NunitoSans-BlackItalic.ttf');}
@font-face{ font-family: nunito-sansL; src: url('fonts/NunitoSans-Light.ttf');}
@font-face{ font-family: nunito-sansSBI; src: url('fonts/NunitoSans-LightItalic.ttf');}
@font-face{ font-family: nunito-sansBa; src: url('fonts/NunitoSans-Black.ttf');}
@font-face{font-family: nunito-sansB; src: url('fonts/NunitoSans-Bold.ttf');}
@font-face{font-family: nunito-sansEB; src: url('fonts/NunitoSans-ExtraBold.ttf');}

#content{
    overflow: hidden  !important;
}
#background{
    background: #fff5ff;
    width: 100%;
    height: 2400px;
    position: absolute;
    z-index: -2;
}

#header{
    margin-bottom: 0%;
}

#headerBanner{
    background:#6b0ab9;
    /*width: 445px;*/
    width: 100%;
    
}
.botomTable{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 420px;
    bottom: 80px;
    color: white;
    font-family: nunito-sansSBI;
    font-size: 19pt;
}
.botomTable td{
    padding-left: 20%;
}
.headerTitleText{
    font-family: nunito-sansBI;
    color:#01dac5;
    font-size: 40pt;
}
.headerButton{
    background: #6b0ab9;
    border: 0px;
    color: #2dfffe;
    cursor: pointer;
}
.headerButton:over{
    cursor: pointer;
}
.headerButtons{
    background: #6b0ab9;
    border: 0px;
    cursor: pointer;
}
.headerbuttons:over{
    cursor: pointer;
}
#headerSpace{
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#headerSpace video{
   width: 100%;
   transform: scale(1.2);
}
.headerSubTitleText{
    color: #f9c333;
    font-size: 27pt;
    font-family: nunito-sansBa;
}
#sectionMasterClases{
    margin-top: 20px;
}
#sectionMasterClases p{
    text-align: center;
    color: #6b0ab9;
    font-size: 25pt;
    font-family: nunito-sansB;
}


.masterTable td img{
    width: 100%;
}

.dataTable{
    width: 100%;
    height: 100%;
    text-align: center;
}



#masterData div{
    color: #6b0ab9;
}

#masterInsBtn{
    background: #6b0ab9;
    padding-top: 33px;
    padding-bottom: 33px;
}
#masterInsBtn button{
    background: #2dfffe !important;
}

/* The Magic Float Center Code */
.float_center {
    float: right;
  
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
  }
  .float_center > .child {
    position: relative;
    left: 50%;
  }
  #sectionTalleres{
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
  }
  #sectionTalleres p{
    text-align: center;
    color: #6b0ab9;
    font-size: 25pt;
    font-family: nunito-sansB;
  }
  .talleresItem{
      color: black;
      border: none;
  }
  

.col-half-offset{
    margin-left:3.226666669%
}
.afterItems{
    margin-top: 80px;
}
.plumasText{
    width: 100%;
    background: #2dfffe;
    text-align: left;
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 10pt;
    text-align: center;
}
.plumasText p{
    color: #6b0ab9 !important;
    font-size: 10pt !important;
    text-align: left !important;
}
.plumasBtn{
    background: #6b0ab9;
    color: #2dfffe;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border: 0px;
    border-radius: 30px;
    margin: auto;
}
.plumasTitle{
    color: #6b0ab9;
    font-family: nunito-sansB;
    font-size: 25pt;
    padding-bottom: 15px;
    text-align: left;
}
#footer{
    width: 100%;
    background: #6b0ab9;
    height: 430px;
}

.subTitle{
    text-align: center;
    color: #f9c333;
    font-size: 13pt;
    margin-bottom: 15px;
    font-family: nunito-sansB;
}
.purpleItalic{
    color: #6b0ab9;
    font-family: nunito-sansSBI;
    font-size: 20pt;
}

#headerT{
    background: #6b0ab9;
    padding-bottom: 10px;
    width: 100%;
}
.logo img{
    margin-left: 20px;
    margin-top: 10px;
}
.floatRight{
    text-align:right;
}
.nav{
    margin-right: 120px;
    margin-top: 20px;
}
.nav a{
    color: white;
    font-family: nunito-sansB;
    font-size: 15pt;
    text-decoration: none;
}
.talleresTitle{
    color: #6b0ab9;
    font-family: nunito-sansB;
    font-size: 20pt;
}
.talleresContent{
    color: black;
    font-family: nunito-sansSBI;
    font-size: 12pt;
}
.talleresSubTitle{
    color: #f9c333;
    font-family: nunito-sansSBI;
    font-size: 13pt;
}
.inputField{
    width: 100%;
    height: 35px;
    color: #6b0ab9;
    font-family: nunito-sansL;
    margin-bottom: 30px;
}
.inputField h6{
    padding-top: 10px;
}
#section{
    margin-top: 20px;
    margin-bottom: 50px;
}
.picName{
    margin-top: 20px;
    color: #6b0ab9;
    font-family: nunito-sansL;
    font-size: 20pt;
}
.btnInsc{
    width: 100%;
    background: #f9c333;
    border-radius: 5px;
    color: #6b0ab9;
    font-size: 23px;
}
#masterDay{
    font-family: nunito-sansB;
    color: #2dfffe !important;
}
#masterHour{
    font-family: nunito-sansB;
    color: #2dfffe !important;
}
#masterCampus{
    font-family: nunito-sansB;
    color: #2dfffe !important;
}
#masterCampus2{
    font-family: nunito-sansB;
    color: #2dfffe !important;
}
#masterDay2{
    font-family: nunito-sansB;
    color: #2dfffe !important;
}
#masterHour2{
    font-family: nunito-sansB;
    color: #2dfffe !important;
}
.circulo{
    position:absolute;
    width: 50%;
}
.formStyle td h6{
    color: #6b0ab9;
}


.yellow{
    color: #f9c333;
}
.textInfo{
    color: #6b0ab9;
}
.footerLocation td{
    padding-right: 0%;;
}

#imgLocation{
    padding-top: 30px;
}
#imgLocation2{
    padding-top: 30px;
}
#masterText{
    color: #f9c333 !important;
}
#masterText2{
    color: #f9c333 !important;
}
.plumasBackground{
    background: #2dfffe;
    height: 250px;
    position: relative;
   
}
.tallerStyle{
    text-align: left;
    font-family: nunito-sansB;
    color:#6b0ab9;
}
#mainDiv {
    width: 120px;
    position: relative;
  }
  
  #borderLeft {
    border-left: 2px solid #f51c40;
    position: absolute;
    top: 50%;
    bottom: 0;
  }
  #borderLefBot{
    border-bottom: 2px solid #f51c40;
    position: absolute;
    bottom: 50%;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 

  .imgTaller{
      position: relative;
  }
  .imgTallerText{
      position: absolute;
      color: #f9c333;
      bottom: 0;
      margin-left: 20px;
      font-family: nunito-sansB;
  }

  .imgTaller img{
      width: 100%;
      vertical-align: top;
  }
  .imgTaller:after{
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .imgTaller:hover:after{
      opacity: 0;
  }

  #creativeDiv:hover #txtCreative{
      display:none;
  }

  #ideasDiv:hover #txtIdeas{
      display: none;
  }
  #comicDiv:hover #txtComic{
      display: none;
  }
  @media screen and (min-width: 601px){
    .headDivMov{
        display: none;
    }
    #header{
        width: 100%;
        height: 634px;
        position: relative;
    }
    #lvVideoMob{
        display: none;
    }
    #content{
        width: 100%;
        margin: 0 auto;
        /*background:#fff5ff;*/
    }
    .navMob{
        display: none;
    }

    .masterTable{
        width: 40%;
        float:left;
        margin-left: 7%;
    }

    #masterInsBtn button{
        background: #2dfffe;
        color: #6b0ab9;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 80px;
        padding-right: 80px;
        border-radius: 30px;
    }
    #masterData{
        color:#6b0ab9;
        background: #6b0ab9;
        height: 170px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 0.8vw;
    }
    .masterFTitle{
        color: #6b0ab9;
        font-size: 17pt;
        padding-left: 35px;
    }
    .masterSTitle{
        color: #6b0ab9;
        font-size: 13pt;
        padding-left: 35px;
        font-family: nunito-sansSBI;
    }
    .masterTable .midTable{
        width: 64.5%;
        height: 227px;
    }
    .masterTable .midTablePh{
        width:35.4%;
        height: 227px;
    }
    .masterTitle{
        color: #6b0ab9;
        font-family: nunito-sansB;
        font-size: 25pt;
        text-align: left;
    }
    .talleresDays{
        display: inline;
    }
    .talleresMov{
        display: none;
    }
    .talleresItemTitle{
        color: #f9c333;
        background: #6b0ab9;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-family: nunito-sansB;
        font-size: 10pt;
    }
    .talleresItemContent{
        background: #2dfffe;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 65pt;
        font-family: nunito-sansB;
        color: #6b0ab9;
    }
    #masterTitleMovImg{
        display: none;
    }
    #masterTitleDesImg{
        display: true;
    }
    .plumasDiv{
        display: true;
    }
    .plumasDivMov{
        display: none;
    }
    .footLogos td img{
        width: 90%;
        padding-top: 5px;
        padding-right: 50px;
        
    }
    .footerMov{
        display: none;
    }
    .formStyle td input{
        width: 500px;
        height: 30px;
        color: black;
        background: #02dffe;
        border: 0;
    }
    .formStyle td select{
        width: 500px;
        height: 30px;
        color: black;
        background: #02dffe;
        border: 0;
        border-radius: 0;
    }
    #btnInsF{
        display: true;
    }
    #btnInsTaller{
        display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .headDiv{
        display: none;
    }
    .headDivMov{
        display: block;
    }
    #header{
        width: 100%;
        height: 340px;
        position: relative;
    }
    #lvVideo{
        height: 100% !important;
        position: relative;
        top: -5px;
    }
    #sectionMasterClases{
        margin-top: 120px;
        width: 100%;
    }
    #content{
        width: 100%;
        margin: 0 auto;
        /*background:#fff5ff;*/
    }
    .navMob{
        display: block;
    }

    .masterTable{
        width: 80%;
        margin: auto;
    }
    #masterInsBtn button{
        background: #2dfffe;
        color: #6b0ab9;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
    }
    #masterData{
        color:#6b0ab9;
        background: #6b0ab9;
        height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 7.5pt;
    }
    .masterFTitle{
        color: #6b0ab9;
        font-size: 10pt;
        padding-left: 35px;
    }
    .masterSTitle{
        color: #6b0ab9;
        font-size: 11pt;
        padding-left: 35px;
        font-family: nunito-sansSBI;
    }
    .masterTable .midTable{
        width: 60.5%;
        height: 90px;
    }
    .masterTable .midTablePh{
        width:35.4%;
        height: 90px;
    }
    .midTablePh #imgMasterRight{
        position: relative;
        top: 4px;
    }
    .masterTitle{
        color: #6b0ab9;
        font-family: nunito-sansB;
        font-size: 25pt;
        text-align: left;
        height: 7px;
    }
    .talleresDays{
        display: none;
    }
    .talleresMov{
        display: true;
        width: 100%;
    }
    .talleresItemTitle{
        color: #f9c333;
        background: #6b0ab9;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-family: nunito-sansB;
        font-size: 10pt;
    }
    .talleresItemContent{
        background: #2dfffe;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 9px;
        padding-bottom: 9px;
        text-align: center;
        font-size: 40pt;
        font-family: nunito-sansB;
        color: #6b0ab9;
    }
    #masterTitleMovImg{
        display: true;
    }
    #masterTitleDesImg{
        display: none;
    }
    .plumasDiv{
        display: none;
    }
    .plumasDivMov{
        display: true;
    }
    .plumasMovText{
        color: #6b0ab9 !important;
    font-size: 10pt !important;
    text-align: left !important;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    }
    .tallerStyle{
        margin-left: 10px;
    }
    .footerDes{
        display: none;
    }
    #footer{
        height: 600px;
    }
    .styleFooterMov{
        font-size: 13pt !important;
    }
    .footLogos td img{
        width: 89%;
        padding-top: 5px;
        padding-right: 0px;
        
    }
    .masterCircle{
        top: 0px !important;
        right: 0px !important;
        width: 100% !important;
    }
    .THeaderMov{
        text-align: center;
    }
    .infoMov{
        margin-top: 30px;
        text-align: left;
        margin-left: 27%;
    }
    .formMov{
        width: 100%;
    }
    .formStyle td input{
        width: 330px;
        height: 30px;
        color: black;
        background: #02dffe;
        border: 0;
    }
    .formStyle td select{
        width: 330px;
        height: 30px;
        color: black;
        background: #02dffe;
        border: 0;
        border-radius: 0;
    }
    .txtTitleMov{
        font-size: 20pt;
    }
    .contentPlumasMov{
        margin-left: 5%;
    }
    .divsMov{
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 30px;
    }
    #footer{
        height: 640px; 
    }
    #btnInsF{
        display: none;
    }
    #btnInsTaller{
        display: true;
    }
  }
  @media screen and (min-width: 1324px) {
    #header{
        margin-bottom: 10% !important;
    }
  }
  @media screen and (min-width: 1620px) {
    #header{
        margin-bottom: 20% !important;
    }
  }